body {
	box-sizing: border-box;
	background-color: #13bdac;
	max-height: 100vh;
	font-family: sans-serif;
}

.tic__title {
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
}

.tic__game-field {
	margin: auto;
	width: 600px;
	height: 540px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 180px);
}

div[class*='center--'] {
	border-top: 10px solid #0DA092;
	border-bottom: 10px solid #0DA092;
}

div[class*='--center'] {
	border-left: 10px solid #0DA092;
	border-right: 10px solid #0DA092;
}

.game-field__cell {
	position: relative;
	cursor: pointer;
}

.crosses {
	background-image: url('./images/times-solid.svg');
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 15%;
	width: 100%;
	height: 70%;
	animation-name: symbol-animation;
	animation-duration: .5s;
}

.noughts {
	background-image: url('./images/circle-regular.svg');
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 15%;
	width: 100%;
	height: 70%;
	border: none;
	animation-name: symbol-animation;
	animation-duration: .5s;
}

@keyframes symbol-animation {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}